{% extends "base.html" %}
{% load static %}
{% block content %}

<main class="app-content">
    <div class="app-title">
        <div>
            <h1><i class="fa fa-plus"></i> Form Data Ruangan</h1>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item">Data Ruangan</li>
            <li class="breadcrumb-item"><a href="#">{{menu}}</a></li>
        </ul>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <h5 class="tile-title">Input Data Ruangan</h5>
                <div class="tile-body">
                    <form class="{% url 'inputruangan' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group row">
                            <div class="col-md-11">
                                {% if messages %}
                                {% for pesan in messages %}
                                <div class="alert alert-{{ pesan.tags }}" align="left">
                                    <b>{{ pesan }}</b>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</button>
                                </div>
                                {% endfor %}
                                {% endif %}
                                
                                {{ form }}
                            </div>
                        </div>
                        <div class="row d-save-none mt-4">
                            <div class="col-12 text-left"><button type="submit" class="btn btn-primary"><i
                                        class="fa fa-save"></i>Simpan</button>
                                <a class="btn btn-danger" href="{% url 'dataruangan' %}">Kembali</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock content %}