{% extends "base.html" %}
{% load static %}
{% block content %}

<main class="app-content">
    <div class="app-title">
        <div>
            <h1><i class="fa fa-plus"></i> Form Update Barang</h1>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item">Data Barang</li>
            <li class="breadcrumb-item"><a href="#">{{menu}}</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <h5 class="tile-title">Update Data Barang</h5>
                <div class="tile-body">
                    <form class="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="form-group row">
                            <div class="col-md-11"> 
                            </div>
                        </div>
                        <div class="row d-save-none mt-4">
                            <div class="col-12 text-left">
                                <button type="submit" class="btn btn-primary">Simpan</button>
                                <a class="btn btn-danger" href="{% url 'databarang' %}">Kembali</a>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</main>

{% endblock content %}